/* TODO: Make better, can break on smol devices. Extend and put in new file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0a0a0a;
  color: #fafafa;
}

/* For better "branding" possible swap out to different/own font(?) */
body {
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: #fcbb6d;
  position: relative;
}

a::after {
  content: "";
  transition: width 0.3s;
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  background: currentColor;
  bottom: -0.1em;
}

a:hover::after {
  width: 100%;
}

.full-screen {
  min-width: 100svw;
  min-height: 100svh;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero > figure {
  border: 2px solid #fafafa;
  border-radius: 2rem;
  padding: 2rem;
  transition-duration: 0.4s;
  /* In Out - Back */
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.hero > figure > img {
  /* Rounding the image so the hover interaction *looks* correctly */
  border-radius: 100%;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

/* I love the idea of the small different rotation of figure and img */
.hero > figure > img:hover {
  transform: rotate(-12deg) scale(1.02);
}

.hero > figure > figcaption {
  max-width: 180px;
  text-align: center;
}
